* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.mainContainer {
  height: 600px;
  margin: 50px auto 0;
  position: relative;
  width: 600px;
}

.mainContainer > input {
  display: none;
}

.mems {
  background-color: #333;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
}

.wrap {
  display: flex;
}

.text {
  color: rgb(197, 82, 82);
}

.mainContainer .memController {
  position: absolute;
}

.mainContainer label {
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 5px;
  position: relative;
  width: 12px;
  border-radius: 50%;
  border: 2px solid rgb(0, 70, 128);
}

.mainContainer label:focus {
  border: 2px solid rgb(0, 70, 128);
  content: ' ';
  display: block;
  height: 12px;
  /* left: -4px; */
  position: absolute;
  /* top: -4px; */
  width: 12px;
  /* border-radius: 50%; */
}

.memContainer {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  transform: rotate(55deg);
  -webkit-filter: hue-rotate(90deg);
  transition: 1s;
  
}

.image1 {
  background-image: url(../assets/images/mem1.jpg);
  width: 100%;
  height: 100%;
}
.image2 {
  background-image: url(../assets/images/mem2.jpg);
  width: 100%;
  height: 100%;
}
.mem3 {
  background-image: url(../assets/images/mem3.jpg);
}
.mem4 {
  background-image: url(../assets/images/mem4.jpg);
}
.mem5 {
  background-image: url(../assets/images/mem5.jpg);
}
.mem6 {
  background-image: url(../assets/images/mem6.jpg);
}
.mem7 {
  background-image: url(../assets/images/mem7.jpg);
}

#but1:checked ~ .mems > .mem1,
#but2:checked ~ .mems > .mem2,
#but3:checked ~ .mems > .mem3,
#but4:checked ~ .mems > .mem4,
#but5:checked ~ .mems > .mem5,
#but6:checked ~ .mems > .mem6,
#but7:checked ~ .mems > .mem7 {
  opacity: 1;
  z-index: 1;
  transform: none;
  -webkit-filter: none;
}

#but1:checked ~ .memController label:nth-of-type(1),
#but2:checked ~ .memController label:nth-of-type(2),
#but3:checked ~ .memController label:nth-of-type(3),
#but4:checked ~ .memController label:nth-of-type(4),
#but5:checked ~ .memController label:nth-of-type(5),
#but6:checked ~ .memController label:nth-of-type(6),
#but7:checked ~ .memController label:nth-of-type(7) {
  background: rgb(0, 70, 128);
}
