* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.mainContainer {
  height: 37.5rem;
  margin: 50px auto 0;
  position: relative;
  width: 37.5rem;
}

.mainContainer > input {
  display: none;
}

.mems {
  background-color: #fff;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
}

.wrap {
  display: flex;
}

.text {
  color: #000;
  opacity: 0;
  z-index: 0;
  transform: translate(200%);
  -webkit-filter: hue-rotate(90deg);
  transition: 0.5s;
  position: absolute;
  width: 25rem;
  height: inherit;
  font-size: 18px;
}

.mainContainer .memController {
  position: relative;
}

.mainContainer label {
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 5px;
  position: relative;
  width: 12px;
  border-radius: 50%;
  border: 2px solid rgb(0, 70, 128);
}

.mainContainer label:focus {
  border: 2px solid rgb(0, 70, 128);
  content: ' ';
  display: block;
  height: 12px;
  position: relative;
  width: 12px;
}

.memContainer {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  transform: translate(100%);
  /* -webkit-filter: hue-rotate(90deg); */
  transition: 0.5s;
}

.textCtrlContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.mainContainer .memText {
  position: relative;
}

.mem1 {
  background-image: url(../assets/images/mem1.jpg);
}
.mem2 {
  background-image: url(../assets/images/mem2.jpg);
}
.mem3 {
  background-image: url(../assets/images/mem3.jpg);
}
.mem4 {
  background-image: url(../assets/images/mem4.jpg);
}
.mem5 {
  background-image: url(../assets/images/mem5.jpg);
}
.mem6 {
  background-image: url(../assets/images/mem6.jpg);
}
.mem7 {
  background-image: url(../assets/images/mem7.jpg);
}

#but1:checked ~ .mems > .mem1,
#but2:checked ~ .mems > .mem2,
#but3:checked ~ .mems > .mem3,
#but4:checked ~ .mems > .mem4,
#but5:checked ~ .mems > .mem5,
#but6:checked ~ .mems > .mem6,
#but7:checked ~ .mems > .mem7 {
  opacity: 1;
  z-index: 1;
  transform: none;
  /* -webkit-filter: none; */
}

#but1:checked ~ .textCtrlContainer .memText > .text1,
#but2:checked ~ .textCtrlContainer .memText > .text2,
#but3:checked ~ .textCtrlContainer .memText > .text3,
#but4:checked ~ .textCtrlContainer .memText > .text4,
#but5:checked ~ .textCtrlContainer .memText > .text5,
#but6:checked ~ .textCtrlContainer .memText > .text6,
#but7:checked ~ .textCtrlContainer .memText > .text7 {
  opacity: 1;
  z-index: 1;
  transform: none;
  /* -webkit-filter: none; */
}

#but1:checked ~ .textCtrlContainer .memController label:nth-of-type(1),
#but2:checked ~ .textCtrlContainer .memController label:nth-of-type(2),
#but3:checked ~ .textCtrlContainer .memController label:nth-of-type(3),
#but4:checked ~ .textCtrlContainer .memController label:nth-of-type(4),
#but5:checked ~ .textCtrlContainer .memController label:nth-of-type(5),
#but6:checked ~ .textCtrlContainer .memController label:nth-of-type(6),
#but7:checked ~ .textCtrlContainer .memController label:nth-of-type(7) {
  background: rgb(0, 70, 128);
}
